<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Your Sidekick</title>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
		<div id="hd">
			<div id="logo">
				<img src="your-life.png" width="50px" height="50px" alt="Your Life Logo" />
				<h1>Your Sidekick</h1>
			</div>
		</div>
		<div id="bd">
			<form wicket:id="form" id="form" action="#">
				<input wicket:id="create1" type="submit" value="create new book" />
				<input wicket:id="query1"  type="submit" value="query collection" />
				<br/>
				<input wicket:id="create2" type="submit" value="create new book" />
				<input wicket:id="query2"  type="submit" value="query collection" />
			</form>
		</div>
		<div id="ft">
		</div>
	</body>
</html>
